<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-warning">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1 class="titulo_login">Login</h1>
        <form method="POST" action="{{url_for('autenticar') }}">
            <input type="hidden" name="proxima" value="{{ proxima or url_for('index')}}">
            <p><label>Username:</label> <input class="form-control" type="text" name="login" required></p>
            <p><label>Password:</label> <input class="form-control" type="password" name="password" required></p>
            <p><button class="btn btn-primary" type="submit">Login</button></p>
        </form>
    </div>
</body>
</html>