{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('create_group') }}" method="post">
        <fieldset>
            <div class="form-group">
                <label for="groupname">Group name</label>
                <input type="text" id="groupname" name="groupname" class="form-control">
            </div>


            {% for key in list_key %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ key }}" id="fields" name="fields">
                    <label class="form-check-label" for="fields">
                        {{ key }}
                    </label>
                </div>
            {% endfor %}

          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
{% endblock %}